@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: "PT Sans", sans-serif;

}

*,
html,
body {
  scroll-behavior: smooth !important;
}

:root {
  --white: #ffffff;
  --black: #212b36;
  --text-color: #637381;
}

body {
  width: 100%;
  height: 100vh;
  background: white;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

body::before {
  content: "";
  position: absolute;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  background: #9796f0;
  top: 0%;
  left: 10%;
  filter: blur(200px);
}

body::after {
  content: "";
  position: absolute;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  background: #6dd5ed;
  bottom: 0%;
  right: 10%;
  filter: blur(190px);
}


a {
  color: #00B7FF;
}

.container {
  width: 80%;
  height: 95%;
  background-color: white;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
  z-index: 999;
  overflow: hidden;
  display: grid;
  grid-template-columns: 480px auto;
  column-gap: 20px;


}

.input-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-1 {
  /* background-color: #9796f0; */
  position: relative;


}

.section-2::-webkit-scrollbar {
  width: 10px;
  /* width of the entire scrollbar */
}

.section-2 {
  position: relative;
  /* background-color: #00B7FF; */
  overflow-y: scroll;
  scroll-behavior: smooth !important;
}


.section-2::-webkit-scrollbar-thumb {
  background-color: #6dd5ed49;
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 1px solid rgba(255, 255, 255, 0.18);
  /* creates padding around scroll thumb */
}

.section-2 .robot {
  position: absolute;
  right: 0%;
}

.description {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 100%;
}

.description .welcome {
  text-transform: uppercase;
  font-weight: 600;
  font-size: small;
  color: #00B7FF;
}

.description .welcome div {
  width: 50px;
  height: 2px;
  background-color: #00B7FF;
}

.description p {
  margin-top: 1rem;
  color: var(--text-color);
  font-weight: 300;
  font-size: 0.9rem;
}

.description .main-desc {
  margin-top: 0.5rem;
  font-size: 2rem;
  font-weight: 900;
  color: var(--black);
  line-height: 40px;
  font-family: 'Oswald', sans-serif;
}

#repolink {
  width: 100%;
  background-color: white;
  color: var(--text-color);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: 0;
  outline: 0;
  font-weight: 300;
  font-size: normal;
  padding: 10px;
  border-radius: 10px;
  font-family: 'PT Sans', sans-serif;
}

#submitButton {
  border-radius: 8px;
  border: 0;
  outline: 0;
  color: white;
  background-color: #00B7FF;
  padding: 10px 25px;
  margin-top: 1.5rem;
  font-size: small;
  font-weight: 600;
}

#submitButton:hover {
  background-color: #0072ff;
}

#submitButton:disabled {
  opacity: 0.6;
  cursor: not-allowed;
  pointer-events: none;
}